@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/forms';
@import 'foundation/components/inline-lists';
@import 'foundation/components/top-bar';
@import 'foundation/components/visibility';




$dark : #7C777D;
$white : #FFFFFF;



body {
  background: $white;
  color: $dark;
}

#wrapper {
  background: wrapper;
}


.container {
  color: gray;
}