var bcrypt = require('bcrypt');

module.exports = function(sequelize, DataTypes) {
  var User = sequelize.define("User", {
    username: DataTypes.STRING,
    password: {
      type: DataTypes.CHAR(16),
      required: true
    }
  }, {
    classMethods: {
      associate: function(models) {
        User.hasMany(models.Photo);
      }
    }, {
    instanceMethods: {
      validPassword: function (password){
      return (bcrypt.hash(password) === this.password);
      }
    },

    // insert a before create hook to bcrypt the password before it is stored in DB
    hooks: {
      beforeCreate: [
      function () {
        this.password = bcrypt.hass(this.password);
      }
    ]
  }

  });

  return User;
};