//- eg of destroy - https://github.com/sequelize/express-example/blob/master/routes/users.js

router.get('/:user_id/destroy', function(req, res) {
  models.User.destroy({
    where: {
      id: req.params.user_id
    }
  }).then(function() {
    res.redirect('/');
  });
});