doctype html
html
  head
    title Express Demo
  body
    h1 Express Demo Header
    p.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam harum quidem dolorum ex? Inventore id, dolorem harum itaque molestiae, aliquam provident, dignissimos obcaecati ipsa aspernatur unde! Rem, quidem, nobis? Voluptatem?

    block content

    include ./../partials/_footer