
//- extends to layout
extends layout

block gallery
  div.row
    div(class='medium-12 large-12 columns')
      h1 #{title}
      p something from gallery detail
      br
      img(src='#{url}')
      br
      p #{description}

