
//- extends to layout
extends layout
include ./mixins/mixin

block image
  +galleryHeader
  +galleryHeaderImage(mainImage)
  +generateImage(users)



//- title: Rott on the beach
//- url: http://www.dogster.com/wp-content/uploads/2015/05/bigdogsurfEDIT.jpg
//- description: Surfer Doggie
//- author: some lucky guy