extends ./layouts/header.jade

block content
  h1= title
  p Welcome to #{title}

  div
    p you ho ho.
    p work piece of crap
    // wrap image in the a tag
    a(href='/about')
      img(src='image/.png')