//- main page that has the repetitive stuff
doctype html
html
  head
    title Express Gallery
    link(rel="stylesheet", href="/public/css/styles.css")
  body
    //- index page
    block image
    //- galleryID
    block gallery
    //- new photo
    block new
    //- signIn
    block signIn

  footer
    div#row
      div(class='medium-12 large-12 columns')
        #{footer}