//- gallery-listing
//- extends to layout
extends layout
include ./mixins/mixin

block photo
  +galleryHeader
  +galleryHeaderPhoto(mainPhoto)
  +generatePhoto(photos)



//- title: Rott on the beach
//- url: http://www.dogster.com/wp-content/uploads/2015/05/bigdogsurfEDIT.jpg
//- description: Surfer Doggie
//- author: some lucky guy